label {
  color: #66fcf242;
  justify-content: left;
  align-items: flex-start;
  display: flex;
  font-size: small;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.addUser {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: calc(100vh - 45px);
  align-items: center;
  background: linear-gradient(120deg, transparent, #050507 60%),
    url("../../assets/img/bgadd.jpg") no-repeat -150px -10px / cover;
}
form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 10%;
}
input {
  background-color: #1f283391;
  border: none;
  border-radius: 5px;
  height: 25px;
}
button {
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  color: #66fcf234;
  font-size: small;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#submit {
  color: #66fcf277;
  background-color: #1f28336b;
  border: none;
  cursor: pointer;
}
@media (max-width: 1093px) {
  .login {
    background: linear-gradient(120deg, transparent, #050507 60%),
      url(../../assets/img/Stoneforge-Mystic-Double-Masters-MtG-Art.jpg)
        no-repeat 0px -10px / cover;
    background-size: cover;
    justify-content: center;
  }
  label {
    color: #66fcf2;
    justify-content: left;
    align-items: flex-start;
    display: flex;
    font-size: small;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  input {
    background-color: #1f283391;
    border: none;
    border-radius: 5px;
    height: 25px;
  }
  button {
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    color: #66fcf234;
    font-size: small;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  #submit {
    color: #66fcf2;
    background-color: #1f28336b;
    border: none;
  }
}
